<div class="row">
  <div class="span4">
    <div class="pad-box">
    <%= image_tag @ad.image.url %>
    </div><!-- .pad-box -->
  </div>

  <div class="span5">
    <div class="pad-box">
    <h1><%= @ad.name %></h1>
    <p><%= @ad.tagline %></p>

 <!--    <div class="btn-group">
      <%#= link_to 'Download Coupon', "#", class: 'btn btn-success' %>
    </div> -->
    </div><!-- .pad-box -->
  </div><!-- span5 -->
</div><!-- row -->

<div class="row">
  
  <div class="span5">
    <div class="pad-box">
    <%= simple_format @ad.description %>
    <p><strong>PAID VALUE DOES NOT EXPIRE.</strong></p>
    <p><strong>PROMOTIONAL VALUE EXPIRES ON <%= @ad.expiration_date.strftime("%b %d, %Y").upcase   %>.</strong></p>
    </div><!-- .pad-box -->
  </div>

  <div class="span4">
    <div class="pad-box">
    <div class="thumbnail">
      <%= image_tag @ad.merchant.logo.url(:thumb) %>
      <h5><%= @ad.merchant.name %></h5>
      <address>
        <%= @ad.merchant.address %> <br>
        <% unless @ad.merchant.address2.blank? %>
          <%= @ad.merchant.address2 %> <br>
        <% end %>
        <%= "#{@ad.merchant.city} #{@ad.merchant.state}, #{@ad.merchant.zip}" %>
      </address>
      <% unless @ad.merchant.phone_number.blank? %>
        <phone><%= @ad.merchant.phone_number %></phone>
      <% end %>
      <email><%= @ad.merchant.email %></email>
      <%# unless @ad.merchant.twitter.blank? %>
        <%#= @ad.merchant.twitter %>
      <%# end %>
    </div>
    </div><!-- .pad-box -->
  </div>
</div>