<div class="row">
  <div class="span4">
    <%= image_tag @ad.image.url %>
  </div>

  <div class="span4">
    <h1><%= @ad.name %></h1>
    <p><%= @ad.tagline %></p>
  </div><!-- span4 -->
</div><!-- row -->

<div class="row">
  
  <div class="span4">
    <%= simple_format @ad.description %>
  </div>

  <div class="span4">
    <div class="thumbnail">
      <%= image_tag @ad.merchant.logo.url(:thumb) %>
      <h5><%= @ad.merchant.name %></h5>
      <address>
        <%= @ad.merchant.address %> <br>
        <% unless @ad.merchant.address2.blank? %>
          <%= @ad.merchant.address2 %> <br>
        <% end %>
        <%= "#{@ad.merchant.city} #{@ad.merchant.state}, #{@ad.merchant.zip}" %>
      </address>
      <% unless @ad.merchant.phone_number.blank? %>
        <phone><%= @ad.merchant.phone_number %></phone>
      <% end %>
      <email><%= @ad.merchant.email %></email>
    </div>
    <div class="span5" id="socialSharing">
      <span class='st_sharethis_hcount' displayText='ShareThis'></span>
      <span class='st_facebook_hcount' displayText='Facebook'></span>
      <span class='st_twitter_hcount' displayText='Tweet'></span>
      <span class='st_email_hcount' st_image='http://deals.mixx96.com/<%= @ad.image.url %>' st_url='http://deals.mixx96.com/<%= url_for(:only_path => true) %>' displayText='Email'></span>
    </div>
  </div>
</div>