<div class="row">
  <div class="span4">
    <%= image_tag @coupon.image.url %>
  </div>

  <div class="span4">
    
    <h1><%= @coupon.name %></h1>
    <p><%= @coupon.tagline %></p>

    <div class="btn-group" id="print-coupon-button">
      <%= link_to 'Get Coupon', @coupon.printable_file.url, :target => "_blank", class: 'btn btn-success' if !@coupon.printable_file.blank? %>
    </div>
  
  </div><!-- span5 -->
</div><!-- row -->

<div class="row">
  
  <div class="span4">
    
    <%= simple_format @coupon.description %>
    <p><strong>PROMOTIONAL VALUE EXPIRES ON <%= @coupon.expiration_date.strftime("%b %d, %Y").upcase   %>.</strong></p>
    <p>Questions? Call 360-943-9937</p>
  </div>
  <div class="span4">
    
    <div class="thumbnail">
      <%= image_tag @coupon.merchant.logo.url(:thumb) %>
      <h5><%= @coupon.merchant.name %></h5>
      <address>
        <%= @coupon.merchant.address %> <br>
        <% unless @coupon.merchant.address2.blank? %>
          <%= @coupon.merchant.address2 %> <br>
        <% end %>
        <%= "#{@coupon.merchant.city} #{@coupon.merchant.state}, #{@coupon.merchant.zip}" %>
      </address>
      <% unless @coupon.merchant.phone_number.blank? %>
        <phone><%= @coupon.merchant.phone_number %></phone>
      <% end %>
      <email><%= @coupon.merchant.email %></email>
    </div>
    <div class="span5" id="socialSharing">
      <span class='st_sharethis_hcount' displayText='ShareThis'></span>
      <span class='st_facebook_hcount' displayText='Facebook'></span>
      <span class='st_twitter_hcount' displayText='Tweet'></span>
      <span class='st_email_hcount' st_image='http://deals.mixx96.com/<%= @coupon.image.url %>' st_url='http://deals.mixx96.com/<%= url_for(:only_path => true) %>' displayText='Email'></span>
    </div>
  </div>
</div>
