<h1 class="page-header">Merchants</h1>

<table class="table table-striped table-bordered">
  <thead class="table-head">
    <tr class="row">
      <th class="column">Merchant</th>
      <th class="column">Website</th>
      <th class="column">Directions</th>
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <tr class="row">
        <td class="column" data-label="">
          <strong><%= merchant.name %></strong><br />
          <address>
            <%= "#{merchant.address} <br /> #{merchant.city}, #{merchant.state} #{merchant.zip} <br/>".html_safe %>
            <abbr title="Phone">P:</abbr> <%= merchant.phone_number %><br />
            <%= mail_to merchant.email %>
          </address>
        </td>
        <td class="column" data-label=""><%= link_to "#{merchant.homepage}", "#{merchant.homepage}" %></td>
        <td class="column" data-label=""><%= link_to "Map & Directions", merchant.map_link, class: 'btn', target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
