
<h1 class="page-header">Merchants</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Website</th>
      <th>Directions</th>
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td>
          <strong><%= merchant.name %></strong><br />
          <address>
            <%= "#{merchant.address} <br /> #{merchant.city}, #{merchant.state} #{merchant.zip} <br/>".html_safe %>
            <abbr title="Phone">P:</abbr> <%= merchant.phone_number %><br />
            <%= mail_to merchant.email %>
          </address>
        </td>
        <td><%= link_to "#{merchant.homepage}", "http://#{merchant.homepage}" %></td>
        <td><%= link_to "Map & Directions", merchant.map_link, class: 'btn', target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
