<div class="row">
	<div class="span4">
		<%= image_tag @deal.image.url %>
	</div>

	<div class="span4">
		
		<h1><%= @deal.name %></h1>
		<p><%= @deal.tagline %></p>

		<div class="btn-group">
  		<button class="btn"><%= "22%" %></button>
  		<button class="btn"><%= @deal.quantity %></button>
  		<button class="btn"><%= number_to_currency @deal.price %></button>
  		<%= link_to 'Buy', new_deal_order_path(@deal), class: 'btn btn-success' %>
		</div>
	</div><!-- span5 -->
</div><!-- row -->

<div class="row">
	
	<div class="span4">
		
		<%= simple_format @deal.description %>
		<p><strong>PAID VALUE DOES NOT EXPIRE.</strong></p>
		<p><strong>PROMOTIONAL VALUE EXPIRES ON <%= @deal.expiration_date.strftime("%b %d, %Y").upcase	 %>.</strong></p>
		
	</div>

	<div class="span4">

		<div class="thumbnail">
			<%= image_tag @deal.merchant.logo.url(:thumb) unless @deal.merchant.logo.blank? %>
			<h5><%= @deal.merchant.name %></h5>
			<address>
				<%= @deal.merchant.address %> <br>
				<% unless @deal.merchant.address2.blank? %>
					<%= @deal.merchant.address2 %> <br>
				<% end %>
				<%= "#{@deal.merchant.city} #{@deal.merchant.state}, #{@deal.merchant.zip}" %>
			</address>
			<% unless @deal.merchant.phone_number.blank? %>
				<phone><%= @deal.merchant.phone_number %></phone>
			<% end %>
			<email><%= @deal.merchant.email %></email>
			<%# unless @deal.merchant.twitter.blank? %>
				<%#= @deal.merchant.twitter %>
			<%# end %>
		</div>
		
	</div>
</div>