<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Order <%= "##{@order.number}" %> Confirmation</h1>

<p>This needs to be some content that Mixx comes up with about how this deal is delivered and thanking them for an order</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Deal</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.created_at.strftime("%b %d, %Y") %></td>
      <td><%= @order.deal.name %><br /><%= @order.deal.tagline %></td>
      <td><%= number_to_currency(@order.transactions.last.amount/100) %></td>
    </tr>
  </tbody>
</table>
  </body>
</html>