<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <h1>Thank you for your order!</h1>
    <h2>Order <%= "##{@order.number}" %> Confirmation.</h2>
    <h3>This is your certificate, treat it like cash.</h3>
    <p>For questions about your Mixx Mall order, call the Business Office at (360) 943-0961 Mon - Fri 9am - 5pm.</p>
    <h3>Your credit card has been charged <%= number_to_currency(@order.transactions.last.amount/100) %> on <%= @order.created_at.strftime("%b %d, %Y") %>. This will appear on your statement as "3 Cities, Inc.".</h3>

    <h1><%= image_tag @order.deal.image.url %></h1>
    <h1><%= @order.deal.name %></h1>
    <p><%= @order.deal.tagline %></p>
    <p>You have purchased a <%= number_to_currency @order.deal.price %> <%= @order.deal.name %> for <%= @order.deal.merchant.name %>. All that's left for you to do is make the appropriate plans, and enjoy!</p>

    <h4 class="deal-header4">Things you need to know about this Deal:</h4>
    <p><%= simple_format @order.deal.description %></p>
    <h6>PAID VALUE DOES NOT EXPIRE.<br />PROMOTIONAL VALUE EXPIRES ON <%= @order.deal.expiration_date.strftime("%b %d, %Y").upcase %>. <%= link_to '*', 'http://mixx96.com/component/content/article/152' %></h6>

    <h6 class="header-conditons">General Conditions:</h6>
    <p class="general-conditions">This certificate cannot be combined with any other offer, promotion or coupon.<br />Tax and gratuity, where applicable, are not included.<br />Where it says PROMOTIONAL VALUE EXPIRES: (DATE) it means that the extra value on the certificate expires on the date shown. After that date, the value of the coupon or deal reverts to only the amount you paid. The "PAID VALUE" DOES NOT EXPIRE. (Example: You bought a box of donuts (cost $12) for $5. You can take the coupon to the donut shop and get $12 of donuts until the expiration date. After the expiration date, you'll only get $5 worth of dounts.).<br />If for some reason the wonderful donut shop closes, we will provide refunds upon request only where the merchant has gone out of business before the promotional period ends.</p>

    <h1><%= image_tag @order.deal.merchant.logo.url(:thumb) unless @order.deal.merchant.logo.blank? %></h1>
      <h5><%= @order.deal.merchant.name %></h5>
      <address>
        <%= @order.deal.merchant.address %> <br>
        <% unless @order.deal.merchant.address2.blank? %>
          <%= @order.deal.merchant.address2 %> <br>
        <% end %>
        <%= "#{@order.deal.merchant.city} #{@order.deal.merchant.state}, #{@order.deal.merchant.zip}" %>
      </address>
      <% unless @order.deal.merchant.phone_number.blank? %>
        <phone><%= @order.deal.merchant.phone_number %></phone>
      <% end %>
      <email><%= @order.deal.merchant.email %></email>
  </body>
</html>